*{
    margin: 0px;
    padding: 0px;
}
.header__nav {
    background-color: antiquewhite;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(172, 218, 182, 0.982));
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 25px;
    padding-top: 16px;
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between;
    position:fixed;
}
.header__logo {
    margin:16px;
    width: auto;
    height: 60px;
}
.header__list {
    
    padding: 16px;
}
.header__item {
    display: inline;
}
.header__item a {
    background:url('../resources/iconito.jpg') no-repeat left center;
    background-size: 22px;
    list-style: none; 
    text-decoration: none;
    color: #087b23;
    padding: 5px 10px 5px 25px;
    margin: 0px;
    vertical-align: middle;
}
/* Abajo de esta línea empieza el Main */
.start {
    background-color: #087b23;
}
/* Clases para títulos */
.start__title {
    font-family: 'DM Serif Display', serif;
    font-style: italic;
    font-weight: bold;
    font-size: 35px;
    margin: 0 0 0 16px;
    text-decoration: underline;    
    padding-top: 120px;
    color: antiquewhite
}
.start__title2 {
    font-family: 'DM Serif Display', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    margin-left: 16px;
    text-decoration: underline;
    color:antiquewhite;
}
.start__title3 {
    font-family: 'DM Serif Display', serif;
    font-style: oblique;
    font-weight: normal;
    font-size: 23px;
    margin-left: 16px;
    text-decoration: underline;
    color:antiquewhite;
}
.start__title4 {
    font-family: 'DM Serif Display', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    color:antiquewhite;
    margin-left: 25px;
    text-decoration: underline;
}
/* Clases para imágenes */
.start__image--right {
    float:right;
    border: 2px solid antiquewhite;
    margin-right: 16px;
    margin-left: 8px;
}
.start__image--first {
    width: auto;
    height: 350px;
    margin: 25px 16px 0 40px;
}
.start__image--second {
    width: 270px;
    height: auto;
    margin: 25px 16px 0 40px;
    padding-right: 20px;
}
.start__image--third {
    width: 360px;
    height: auto;
    margin: 25px 16px 0 40px;
    padding-right: 20px;
}
.start__figcaption {
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 16px;
    text-align: center;
    color:antiquewhite;
}
.start__image {
    width: auto;
    height: 250px;
    margin-left: 16px;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(98, 2, 2);
    display: inline;
    transition: all .2s ease-in-out;
}
.start__image:hover {
    transform: scale(1.07);
}
/* Clases de párrafo */
.start__paragraph {
    font-family:'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    text-justify: auto;
    line-height: 1.5;
    margin: 16px 16px 0 16px;
    padding: 0 15px 10px 0;
    color: antiquewhite;
}
.start__paragraph--link {
    text-decoration: underline;
    cursor: pointer;
    color:antiquewhite;
    font-weight: bold;
}
.start__list {
    list-style: square;
    margin: 10px 0 10px 16px;
}
/* Empieza galeria */
.galery {
    background-color: #087b23;
    color: antiquewhite;
    font-family: 'DM Serif Display', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}
/* Galeria con grid en página "Metodo de estracción" */
.galery__grid {
    background-color: #087b23;
    display: grid;
    width: auto;
    height: 100vh;
    grid-template-columns: 3fr 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 'img1 img2 img3'
                        'img4 img5 img6'
                        'img7 img8 img9';
    gap: 10px;
    padding: 16px;
}
.img1 {
    grid-area: img1;
    background-image: url('../resources/expresso.jpg');
    background-position: 50% 100%;
    background-size:cover;
    background-repeat: no-repeat;
}
.img2 {
    grid-area: img2;
    background-image: url('../resources/coffee-bag.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
.img3 {
    grid-area: img3;
    background-image: url('../resources/grano-coffe.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
.img4 {
    grid-area: img4;
    background-image: url('../resources/coffee-tres.jpg ');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
.img5 {
    grid-area: img5;
    background-image: url('../resources/granos.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
.img6 {
    grid-area: img6;
    background-image: url('../resources/cafe-especialidad.png ');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
.img7 {
    grid-area: img7;
    background-image: url('../resources/cafe-turco-dos.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
.img8 {
    grid-area: img8;
    background-image: url('../resources/coffee_nueve.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
.img9 {
    grid-area: img9;
    background-image: url('../resources/cafe-especialidad_dos.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
.galery__image {
    border-radius: 10px;
    border: rgb(98, 2, 2) 7px solid;
    padding: 10px;
}
/* Empieza el footer */
footer {
    background-color: #087b23;
}
.footer__title { /* Esta class se usará más adelante */
    font-family: 'DM Serif Display', serif;
    font-style: italic;
    font-weight: bold;
    margin-left: 16px;
    color:antiquewhite;
    background-color: black;
    display: inline;
}
.footer__nav {
    background-color: antiquewhite;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 25px;
    padding-top: 16px;
    display: none;
}
.footer__rights {
    color:antiquewhite;
    display: flex;
    flex-direction: row-reverse;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    margin: 0 16px 0px 16px;
    padding: 25px 16px 16px 0;
}
/* Selectores y clases para formulario de contacto */

.contact__form {
    font-family: 'DM Serif Display', serif;
    font-weight: bold;
    width: 460px; 
    height: auto;
    margin: 16px 0 0 16px;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: antiquewhite; 
    padding: 30px;
}
input {
    background-color: antiquewhite; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #087b23; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
}
textarea {
    background-color: antiquewhite; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #087b23; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
}

label {
    display: block; 
    float: center;  
}

button {
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: #087b23; 
    border-color: black; 
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;   
    cursor: pointer;
}
button p {
    color: antiquewhite; 
}
span {
    color: #087b23; 
}  
.contact__warning {
    font-size: 14px;  
    color: #087b23;  
}
p {
    font-size: 14px; 
    color: #087b23; 
}
.contact__form--style input:focus {
    outline:0;
    border: 1px solid #087b23;
}
.contact__form--style textarea:focus {
    outline:0;
    border: 1px solid #087b23;
}
/* Media Query para ratio cuadrado 4:3  */
@media only screen and (min-width: 993px) and (max-width: 1196px) {
    /* Navegación */
    .header__logo {
        display: none;
    }
    .header__nav {
        font-size: 21px;
    }
    .header__list {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around; 
    }
    /*Imágenes article  */
    .start__image--tablet {
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
    }
    .start__image {
        width: 70vw;
        height: auto;
        margin: 16px 0 16px 0;
        align-items: center;
    }
/* Galeria Grid */
.galery__grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 'img1 img2'
                        'img3 img4'
                        'img5 img6'
                        'img7 img8'
                        'img9 img9';
    gap: 5px;
}
.img1 {
    background-size: contain;
    background-repeat:repeat-x;
}
.img2 {
    background-size: contain;
    background-repeat: repeat;
}
.img6 {
    background-size: contain;
    background-clip: border-box;
    background-repeat: repeat;
}
.img7 {
    background-clip:border-box;
}
.img8 {
    background-size: 60%;
    background-repeat: repeat;
}
}
/* Media Query para Tablet */
@media only screen and (min-width: 576px) and (max-width: 992px) {
    .header__logo {
        display: none;
    }
    .header__nav {
        font-size: 18px;
    }
    .header__list {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around; 
    }
    /*Imágenes article  */
    .start__image--tablet {
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
    }
    .start__image {
        width: 70vw;
        height: auto;
        margin: 16px 0 16px 0;
        align-items: center;
    }
/* Galeria Grid */
.galery__grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 'img1 img2'
                        'img3 img4'
                        'img5 img6'
                        'img7 img8'
                        'img9 img9';
    gap: 5px;
}
.img1 {
    background-size: contain;
    background-repeat:repeat-x;
}
.img2 {
    background-size: contain;
    background-repeat: repeat;
}
.img6 {
    background-size: contain;
    background-clip: border-box;
    background-repeat: repeat;
}
.img7 {
    background-clip:border-box;
}
.img8 {
    background-size: 60%;
    background-repeat: repeat;
}
}
/* Media Query Mobile */
@media only screen and (min-width: 320px) and (max-width: 575px) {
    /* Navegacion Mobile */
    .header__logo {
        display: none;
    }
    .header__nav {
        font-size: 20px;
        position: static;
        justify-content: left;
        padding: 0px;
        flex: 100%;
    }
    .header__list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    /* Empieza el Main para Mobile */
    .start {
        width: 100vw;
    }
    /* Titulos H en Mobile */
    .start__title {   
        padding-top: 20px;
        font-size: 32px;
    }
    .start__title4 {
        font-size: 20px;
    }
    /* Parrafos Mobile */
    .start__paragraph {
        font-weight: normal;
        text-align: justify;
        line-height: 1.5;
        margin: 16px;
    }
    /* Imágenes Mobile */
    .start__image--right {
        float:none;
        display: flex;
        justify-content: center;
        margin: 16px 55px 0px 55px;
    }    
    .start__image--first {
        width: 50vw;
        height: auto;
        align-items: center;
        margin: 16px;
    }
    .start__figcaption {
        align-items: center;
    }
    .start__image--second {
        width: 50vw;
        height: auto;
        margin: 16px;
        padding: 0;
    }
    .start__image--third {
        width: 55vw;
        height: auto;
    }
    .start__image {
        width: 60vw;
        height: auto;
        margin: 0;
    }
    .start__image--tablet {
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        padding-bottom: 16px;
        gap: 7px;
    }
    /* Navegación footer */
    footer {
        width: 100vw;
    }
    .footer__nav {
        display: flex;
        font-size: 20px;
        padding: 0;
    }
/* Galeria mobile */
.galery__grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9,1fr);
    grid-template-areas: 'img1'
                        'img2'
                        'img3'
                        'img4'
                        'img5'
                        'img6'
                        'img7'
                        'img8'
                        'img9';
    gap: 7px;
    height: auto;
    width: 100vw;
    padding: 0;
}
.img1 {
    background-size: contain;
    background-repeat: repeat;
    height: 150px;
    margin: 0 16px 0 16px;
}
.img2 {
    background-size: contain;
    background-repeat: repeat;
    height: 150px;
    margin: 0 16px 0 16px;
}
.img3 {
    background-size: contain;
    background-repeat: repeat;
    height: 150px;
    margin: 0 16px 0 16px;
}
.img4 {
    background-size: contain;
    background-repeat: repeat;
    height: 150px;
    margin: 0 16px 0 16px;
}
.img5 {
    height: 150px;
    margin: 0 16px 0 16px;
}
.img6 {
    background-size: contain;
    background-repeat: repeat;
    height: 150px;
    margin: 0 16px 0 16px;
}
.img7 {
    background-size: contain;
    background-repeat: repeat;
    height: 150px;
    margin: 0 16px 0 16px;
}
.img8 {
    background-size: contain;
    background-repeat: repeat;
    height: 150px;
    margin: 0 16px 0 16px;
}
.img9 {
    height: 150px;
    margin: 0 16px 0 16px;
}
.galery__image {
    border: none;
    padding: 0px;
}
.start__paragraph {
    margin-bottom: 0px;
}
iframe {
    width: 270px;
    height: 250px;
    padding-left: 20px;
    margin-bottom: 16px;
}
/* Formulario Mobile */
.contact__form {
    width: 260px; 
    margin: 16px 3px 0 10px;
    padding-top: 30px;
    padding: 12px;
    padding-bottom: 2px;
}
input {
    width: 220px; 
}
textarea {
    width: 220px; 
}

button {
    width: 200px;   
}
}