.navbar {
    background-image: linear-gradient(to top, $main-color, rgb(41, 55, 45));
    width: 100vw;
    font-style: normal;
    font-size: 25px;
    padding-top: 16px;
    
}
.nav-link {
    color: $font-color;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 25px;
    transition: all .3s ease-in-out;
    &:hover {
        transform: scale(1.07);
        color: $second-color;
        font-weight: bold;
        text-decoration: underline;
    }
}

.active {
    font-family: 'DM Serif Display', serif;
    text-decoration: underline;
    @extend .italic-bold;
}
.header__logo {
    margin:16px;
    width: auto;
    height: 80px;
}
