/* Colors */
$main-color: #087b23;
$second-color: rgb(98, 2, 2);
$gradient-color: rgb(41, 55, 45);
$font-color: antiquewhite;
/* Fonts */
$title-font: 'DM Serif Display', serif;
$paragraph-font: 'Roboto', sans-serif;
/*Font sizes*/
$font-size-nav: 1.563rem;
$font-size-h1: 2.188rem;
$font-size-h2: 1.75rem;
$font-size-h3: 1.438rem;
$font-size-h4: 1.125rem;
$font-size-paragraph: 1.125rem;
$font-size-figcaption: 1rem;
$font-size-galery: 1.25rem;
$font-size-footer: 1.125rem;