@import "variables";
@import "nav";
@import "footer";
*{
    margin: 0px;
    padding: 0px;
}
/* Abajo de esta línea empieza el Main */
.start {
    background-color: $main-color;
    /* Clases para títulos */
    &__title {
        font-family: 'DM Serif Display', serif;
        font-style: italic;
        font-weight: bold;
        font-size: 35px;
        margin: 0 0 0 16px;
        text-decoration: underline;    
        padding-top: 150px;
        color: $font-color;
    }
    &__title2 {
        font-family: 'DM Serif Display', serif;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        margin-left: 16px;
        padding-top: 10px;
        text-decoration: underline;
        color:antiquewhite;
    }
    &__title3 {
        font-family: 'DM Serif Display', serif;
        font-style: oblique;
        font-weight: normal;
        font-size: 23px;
        margin-left: 16px;
        text-decoration: underline;
        color: $font-color;
    }
    &__title4 {
        font-family: 'DM Serif Display', serif;
        font-style: italic;
        font-weight: normal;
        font-size: 18px;
        color: $font-color;
        margin-left: 25px;
        text-decoration: underline;
    }
    /* Clases para imágenes */
    &__image {
        width: auto;
        height: 380px;
        margin-left: 16px;
        padding: 10px;
        border-radius: 10px;
        background-color: $second-color;
        display: inline;
        transition: all .2s ease-out;

        &:hover {
            transform: scale(1.05);
        }

        &--right {
            float:right;
            border: 2px solid antiquewhite;
            margin-right: 16px;
            margin-left: 8px;
        }
        &--first {
            width: auto;
            height: 350px;
            margin: 25px 16px 0 40px;
        }
        &--second {
            width: 270px;
            height: auto;
            margin: 25px 16px 0 40px;
            padding-right: 20px;
        }
        &--third {
            width: 360px;
            height: auto;
            margin: 25px 16px 0 40px;
            padding-right: 20px;
        }
        &--especial {
            margin-top: 15px;
        }
    }
    &__figcaption {
        margin: 10px;
        font-family: 'Roboto', sans-serif;
        font-style: italic;
        font-size: 16px;
        text-align: center;
        color: $font-color;
    }
    /* Clases de párrafo */
    &__paragraph {
        font-family:'Roboto', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: normal;
        text-align: justify;
        line-height: 1.5;
        margin: 16px 16px 0 16px;
        padding: 0 15px 10px 0;
        color: $font-color;

        &--link {
            text-decoration: underline;
            cursor: pointer;
            color: $font-color;
            font-weight: bold;

            &:hover {
                color: $second-color;
            }
        }
    }
    &__list {
        list-style: square;
        margin: 10px 0 10px 16px;
    }
}

/* Empieza galeria */
.galery {
    background-color: $main-color;
    width: auto;
    color: $font-color;
    font-family: 'DM Serif Display', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    /* Galeria en página "Metodo de estracción" */
    &__image {
    border-radius: 10px;
    border: $second-color 7px solid;
    background-color: antiquewhite;
    padding: 10px;
    height: 70vh;
    width: auto;
    }
}
/* Clases para formulario de contacto */
.article__form {
    background-color: antiquewhite;
    border-radius: 5px;
    border: rgb(98, 2, 2) 5px solid;
    width: 70vw;
    margin-left: 20px;
}
.form__font{
    color: $main-color;
    font-style: italic;
    font-weight: bold;
}
.btn {
    background-color: $second-color;
    color: antiquewhite;
    border-color: $main-color;
    width: 150px;
    transition: all .2s ease-in-out;
    &:hover {
        transform: scale(1.05);
        background-color: $main-color;
        border: $second-color 5px solid;
    }
}

@import "mediaqueries";